/* main page CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Fonts */
.young-serif {
    font-family: 'Young Serif';
}

.outfit {
    font-family: 'Outfit';
}

.bold {
    font-weight: 400;
}

body {
    width: 100%;
    background-color: hsl(30,18%,87%);
}

.header {
    text-align: center;
    padding: 1em;
    margin: 1em;
    font-size: 1.2em;
}

.header > h1 {
    color: rgba(78, 0, 65, 0.801);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1400px;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


.recipes > .recipe-item {
    text-align: center;
    max-width: 350px;
    font-size: 1em;
}

.recipe-item > h2 {
    font-weight: 600;
    padding: 0.3em;
}

.recipe-item > p {
    text-align: left;
    padding: 0 1.2em;
    color: rgb(83, 83, 83);
}

.container img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

a {
  font-family: 'Young Serif';
  font-weight: 400;
  text-decoration: none;
  color: rgb(83, 83, 83);
}

/* Wellington CSS */
.wellington {
    color: rgb(105, 105, 105);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
}

.wellington-header {
    color: #874b35;
    font-family: 'Young Serif';
    font-weight: 400;
    margin-left: 0.5em;
    text-shadow: 0 0 1px grey;
}

h1.wellington-header {
    color: rgb(43, 43, 43);
    text-shadow: 0 0 1px grey;
}

h3.wellington-header {
    color: #774058;
    text-shadow: 0 0 1px grey;
}

.container-wellington {
    background-color: white;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 30px;
    margin-bottom: 0.5em;
}

.container-wellington img {
    width: 100%;
    max-width: 650px;
    object-fit: cover;
    border-radius: 30px;
    padding: 1em;
    margin: 0 auto;
}

.container-wellington .intro {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em 2em;
}

.container-wellington .ingredients {
    background-color: hsl(330,100%,98%);
    width: 90%;
    margin: 0 auto;
    padding: 2em;
}

h2.wellington-header {
    margin-top: 1em;
    text-shadow: 0 0 1px grey;
}

.container-wellington .directions {
    margin: 0 auto;
    padding: 1em 2em;
}

ul {
    padding: 1em;
}

ul > li {
    padding-left: 0.5em;
    list-style: none;
    line-height: 1.5em;
}

ol > li {
    padding-left: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
}

ol {
    list-style-position: outside;
}