body {
    background-color: coral;
    font-family: Courier, sans-serif, serif, Arial, Times;
    background-image: url("images/kitchen.jpg");
    background-size: cover;
    border: 2px solid black;
}

.container {
    text-align: center;
}

.wellington {
    text-align: left;
}

a:visited {
    color: rgb(58, 58, 197);
}

.ingredient-list a:hover {
    color: rgba(49, 47, 47, 0.836);
}

.ingredient-list a {
    font-weight: 500;
    background-color: #594e4e99;
    color: #FFFFFFAA;
    text-decoration: none;
}
