body#index {
    background-color: coral;
    font-family: Courier, sans-serif, serif, Arial, Times;
    background-image: url("images/kitchen.jpg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 4px;
    max-width: 400px;
    height: 400px;
    margin: 5% auto;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.container.index {
    text-align: center;
}


.wellington {
    text-align: left;
}

a:visited {
    color: #ffffffd3;
}

.ingredient-list.index a:hover {
    color: rgba(18, 17, 17, 0.836);
}

h1, 
.ingredient-list.index a {
    font-weight: 500;
    background-color: #594e4e99;
    color: #ffffffd3;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-weight: 700;
}

h1:hover {
    color: rgba(18, 17, 17, 0.836);
}