/* Style Guide
Topography
  font-family: 'Outfit', 'Young Serif';

Colors
  Background Color: hsl(30,18%,87%);
  Purple: rgba(78, 0, 65, 0.801)
  Grey: rgb(83, 83, 83)
  Brown: #874b35;
  Dark Grey: rgb(43, 43, 43);

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}